:root {
  font-size: 0.75rem;
  --transition-speed: 200ms;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
}

.navbar-item {
  margin: 0.75rem;
  color: black;
  text-decoration: none;
  font-weight: 500;
}

.navbar-item :hover {
  color: #5A67D8 ;
  transition: var(--transition-speed);
}

.navbar-item a{
  color: inherit;
  text-decoration: none;
}

.github-icon:hover {
  -webkit-filter: invert(100%) url('../icons/github.svg#colorFilter'); ;
  filter: invert(100%) url('../icons/github.svg#colorFilter');
}

#portfolio-link {
  display: none; 
}

#app-title {
  letter-spacing: -0.1rem;
  font-weight: 900;
}

.navbar-item#app-title {
  margin: 0;
}

.navbar-right {
  display: flex;
  align-content: center;
}

.navbar-right > .navbar-item {
  margin: 0 0 0 0;
}

header {
  text-align: center;
  padding: 1rem 2rem 1.5rem 2rem;
  margin: 1rem 2% 2rem 2%;
  background-color: #A3BFFA;
  border-radius: 0.35rem;
  -webkit-box-shadow: 0 0.75rem 1rem 0.5rem rgba(163,191,250,0.3);
  -moz-box-shadow: 0 0.75rem 1rem 0.5rem rgba(163,191,250,0.3);
  box-shadow: 0 0.75rem 1rem 0.5rem rgba(163,191,250,0.3);
}

@media only screen and (min-width: 360px) {
  #portfolio-link {
    display: block;
  }

  .navbar-right > .navbar-item {
    margin: 0 0.35rem 0 0.35rem;
  }

  header {
    padding: 1rem 2rem 1.5rem 2rem;
    margin: 1rem 4% 2rem 4%;
  }

}

@media only screen and (min-width: 600px) {
  :root {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 768px){
  :root {
    font-size: 1rem;
  }

  nav {
    padding: 0.5rem 1rem 0.5rem 1rem;
  }

  .navbar-right > .navbar-item {
    margin: 0 1rem 0 1rem;
  }

  .navbar-item#app-title {
    margin: 0 1rem 0 1rem;
  }

  header {
    padding: 1.5rem 3rem 2rem 3rem;
    margin: 1rem 20% 2rem 20%;
  }

}