@import 'variables';
@import 'colors';

$btnClr: $gray400;
$btnClrHover: $gray500;

/* CSS Reset for buttons */
@mixin button-reset {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
}

/* New style for buttons */
.btn {
	@include button-reset;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	padding: 0.5em 1em;
	background-color: $btnClr;
	border-radius: 0.3rem;
}

.btn:hover {
	background-color: $btnClrHover;
}

.btn:focus {
	outline: none;
	background-color: $btnClrHover;
	box-shadow: 0 0 0 2px $btnClr, 0 0 0 1px $btnClr;
}
