//white | black
$white50: #f7ebec;
$white100: #edf2f7;
$white200: #e2e8f0;
$white300: #cbd5e0;
$white400: #a0aec0;
$white500: #718096;
$white600: #4a5568;
$white700: #2d3748;
$white800: #1a202c;

// blue
$blue50: #ebf4ff;
$blue100: #c3dafe;
$blue200: #a3bffa;
$blue300: #7f9cf5;
$blue400: #667eea;
$blue500: #5a67d8;
$blue600: #4c51bf;
$blue700: #434190;
$blue800: #3c366b;
