@import '_variables';
@import '_colors';

header {
	text-align: center;
	padding: 1rem 2rem 1.5rem;
	margin: 1rem 2% 2rem;
	background-color: $indigo300;
	border-radius: 0.35rem;
	-webkit-box-shadow: 0 0.75rem 1rem 0.5rem rgba(163, 191, 250, 0.3);
	-moz-box-shadow: 0 0.75rem 1rem 0.5rem rgba(163, 191, 250, 0.3);
	box-shadow: 0 0.75rem 1rem 0.5rem rgba(163, 191, 250, 0.3);
}

@media only screen and (min-width: 360px) {
	header {
		padding: 1rem 2rem 1.5rem;
		margin: 1rem 5% 2rem;
	}
}

@media only screen and (min-width: 768px) {
	header {
		padding: 1.5rem 3rem 2rem;
		margin: 1rem 20% 2rem;
	}
}
