@import '_variables';
@import '_colors';

main {
	padding: 1rem 2rem 1.5rem;
	margin: 1rem 2% 2rem;
}

#add-pair-container {
	text-align: center;
}

#add-pair-btn {
	padding: 0.5rem 2rem;
	background-color: $indigo400;
}

#add-pair-btn:hover {
	background-color: $indigo500;
}

#add-pair-btn:focus {
	box-shadow: 0 0 0 2px $indigo300, 0 0 0 1px $indigo300;
}

@media only screen and (min-width: 360px) {
	main {
		padding: 1rem 2rem 1.5rem;
		margin: 1rem 3% 2rem;
	}
}

@media only screen and (min-width: 768px) {
	main {
		padding: 1.5rem 3rem 2rem;
		margin: 1rem 10% 2rem;
	}
}
