@import '_variables';
@import '_colors';
@import '_navbar';
@import '_header';
@import '_main';
@import '_button';

:root {
	font-size: 0.75rem;
	font-family: Inter, Arial, Helvetica, sans-serif;
}

.github-icon:hover {
	-webkit-filter: invert(100%) url('../icons/github.svg#colorFilter');
	filter: invert(100%) url('../icons/github.svg#colorFilter');
}

@media only screen and (min-width: 360px) {
}

@media only screen and (min-width: 600px) {
	:root {
		font-size: 1rem;
	}
}

@media only screen and (min-width: 768px) {
}
